# EmailJS configuration
VITE_EMAILJS_SERVICE_ID=service_xjpx9i7
VITE_EMAILJS_TEMPLATE_ID=template_vkppjrr
VITE_EMAILJS_PUBLIC_KEY=SrjWQ7YnOv125-X-1

# Alternative CRA-compatible names
# REACT_APP_EMAILJS_SERVICE_ID=service_xjpx9i7
# REACT_APP_EMAILJS_TEMPLATE_ID=template_vkppjrr
# REACT_APP_EMAILJS_PUBLIC_KEY=SrjWQ7YnOv125-X-1
  const SERVICE_ID = 'service_xjpx9i7'
  const TEMPLATE_ID = 'template_vkppjrr'
  const PUBLIC_KEY = 'SrjWQ7YnOv125-X-1'
